.bodyguard {
	background: linear-gradient(
		166.17deg,
		#5e07a0 13.69%,
		#9f2ef5 37.92%,
		#389af5 90.12%
	);
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	-moz-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	/* z-index: 9999; */
}
